.statisticGraph {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px darkgrey solid;
}
.statisticGraph .bar {
    overflow-x: auto;
    overflow-y: hidden;
}
.statisticGraph .bar .day {
    height: 200px;
    white-space: nowrap;
    font-size: 0;
}

.statisticGraph .bar span {
    display: inline-block;
    width: 3px;
    white-space: normal;
    /*border: 1px black solid;*/
}


.legend {
    display: inline-block;
    margin-bottom: .5em;
    border: 1px solid black;
}

.legend ul {
    margin: 0;
    padding: 0;
}

.legend .box {
    line-height: 0;
    font-size: 1.5em;
}

.list ul {
    overflow: auto;
}

.list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list ul:after {
    display: block;
    content: '';
    clear: both;
}

.list ul li {
    float: left;
    padding: 5px;
}
.statisticGraph .daily-container {

}

.statisticGraph .daily-note {
    position: absolute;
    bottom: -20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}



